
.navbar {
	margin-bottom: 0px;
}

/*.body {
	background-color: #e6ebef;
	width: 100vw;
	height: 100vh;
}*/

.fondo{
	background-color: #e6ebef;
	width: 100vw;
	height: 100vh;
}

.myboxrow{
	margin-left: 20px;
}

.myboxcol {
	background-color:white;
	height:200px;
	border: solid #e6ebef 1px;
	padding: 10px 30px 10px 30px;
}

.myboxh2 {
	display: inline;
	color:#888;
	font-size: 1.4rem;
}

.myboxspan {
	position: absolute;
	right: 10px;
	top:10px;
}

.myboxrow2 {
	position: relative;
	bottom: 20px;
}

.bloque1 {
	position: absolute;
	bottom: -100px;
}

.bloque2 {
	position: absolute;
	bottom: -100px;
	left: 200px;
}

.bloque3 {
	position: absolute;
	bottom: -100px;
	left:400px;
}

.barra {
	position:fixed; 
	z-index: 100; 
	width: 100%;
}
#board {
	padding-top: 50px;
}

.cf_1_1 {
	background-color:white;
	height:200px;
	margin-top:10px;
	margin-left: 0rem;
	margin-right: 2rem;
	border-top-left-radius:10px 10px;
	border-top-right-radius:10px 10px;
	border-bottom-left-radius:10px 10px;
	border-bottom-right-radius:10px 10px;
}

.perfil {
	position:absolute;
	top: 65px;
}

.f_1_1 {
	background-color:#35435c;
	height:100px;
	border-top-left-radius:10px 10px;
	border-top-right-radius:10px 10px;
}

.follow {
	position:absolute;
	right:10px;
	top:60px;
}

.f_1_2 {
	background-color:#fff;
	height:45px;
}

h1 {
	font-size: 1.3rem;
	margin-bottom: 0;
	margin-top: 10px;
}

h2 {
	font-size: 1.2rem;
	margin-top: 5px;
	color:#4f8dcc;
}

.f_1_3 {
	background-color:#fff;
	height:50px;
	border-bottom-left-radius:10px 10px;
	border-bottom-right-radius:10px 10px;
}

.p1 {
	margin-bottom: 0;
	font-size: 1rem;
}

.p2 {
	color:#4f8dcc;
}

.cf_2_1 {
	background-color:white;
	height:220px;
	margin-top:10px;
	border-top-left-radius:10px 10px;
	border-top-right-radius:10px 10px;
	border: solid #e6ebef 1px;
}

.caja_fondo {
	background-color:#f5f5f5;
	height:200px;
	margin-top: 10px;
	border-top-left-radius:10px 10px;
	border-top-right-radius:10px 10px;
	border-bottom-left-radius:10px 10px;
	border-bottom-right-radius:10px 10px;
}

.textarea1 {
	margin: 10px;
}

.textarea2 {
	margin-top:20px;
}

#post {
	position:absolute;
	left:40px;
	top:165px;
}

.cf_3_1 {
	background-color:#e6ebef;
	height:200px;
	margin-top:10px;
}

.f2 {
	position: relative
}

.cf_12 {
	background-color:#fff;
	height:400px;
	margin-top:0px;
	margin-left: 0rem;
	margin-right: 2rem;
	border-top-left-radius:10px 10px;
	border-top-right-radius:10px 10px;
	border-bottom-left-radius:10px 10px;
	border-bottom-right-radius:10px 10px;
	position: absolute;
}




















